@media (min-width: 820px) {
    .about_parent {
        background-color: rgba(255, 255, 255, 0.7);
        border: solid black 2px;
        border-radius: 3px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* margin-top: 5vh; */
        /* margin-bottom: 5vh; */
        width: 800px;
        margin: auto;
        margin-top: 7vh;
    }
    .about_adjust {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .theAbout {
        width: 75%;
        /* margin-top: 15vh;
    margin-bottom: 30vh; */
        margin-right: 13px;
    }
    .picture_of_me {
        margin: 25px 13px;
    }
    .picture_border {
        border-radius: 50%;
        /* border: solid rgb(46, 44, 44) 3px; */
        box-shadow: 3px 3px 12px rgb(72, 73, 72);
    }
}

@media (max-width: 819px){
    .about_parent {
        background-color: rgba(255, 255, 255, 0.7);
        border: solid black 2px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 370px;
        margin: auto;
        margin-top: 7vh;
        font-size: 13px;
    }
    .about_adjust {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .theAbout {
        width: 75%;
        margin-right: 13px;
    }
    .picture_of_me {
        margin: 25px 13px;
    }
    .picture_border {
        border-radius: 50%;
        box-shadow: 3px 3px 12px rgb(72, 73, 72);
        width: 320px;
    }
}