.levelHome_parent{
    display: flex;
    flex-direction: column;
}
.homeDivBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selector{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px 200px;
    grid-gap: 50px;
    grid-template-areas: "s a" "l l";
}
.homeBox{
    border: solid black 1px;
    box-shadow: 1px 1px 7px gray;
}
.welcome_level{
    background-image: url('../../images/TransAm.jpg');
    background-size: cover;
    background-position-y: center;
    height: 500px;
    width: 1300px;
    box-shadow: 1px 1px 1px black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 35px;
    text-shadow: 3px 3px black;
    color: white;
}
.shopCars{
    grid-area: s;
    background-image: url('../../images/jeeps.jpg');
    background-size: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}
.aboutSelector{
    grid-area: a;
    background-image: url("../../images/story.JPG");
    background-size: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}
.location{
    grid-area: l;
    background-image: url('../../images/location_.JPG');
    /* background-size: 400px; */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 1920px 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}
.otherFuture{
    grid-area: of;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
}