/* body{ */
    /* background-image: url('./1600x1200-old-clock-wallpaper-07.jpg'); */
    /* background-repeat: no-repeat;
    background-size: cover; */
/* } */
.clock-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    /* height: 1000px; */
    /* width: 1000px; */
}
.doomsday{
    color: rgba(255, 255, 255, 0.9);
    font-size: 15vh;
    text-shadow: 23px 23px 23px black;
}
.the_clock{
    display: grid;
    grid-gap: 3px;
    grid-template-areas: "a b" "c d" "e f";
    font-size: 55px;
    width: 70vw;
    margin: auto;
    text-align: center;
    /* background-color: rgba(0, 0, 0, 0.7); */
    background-image: url('../ShrunkPix/Under_construction.JPG');
    color: rgb(190, 3, 3);
    border: solid 2px white;
    border-radius: 2px;
    box-shadow: 23px 23px 23px rgba(0, 0, 0, 0.5);
}

.border_day {
    grid-template: a;
}

.days{
    grid-template: b;
}

.border_hours{
    grid-template: c;
}

.hours{
    grid-template-areas: d;
}