@media(min-width: 862px) {
    /* body {
        background-image: url('../../ShrunkPix/Autumn-Wallpapers.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: repeat-y; */
    /* } */
    .main_tag {
        margin: auto;
    }
    .webD {
        margin: auto;
    }
    .main_homeDivBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main_selector {
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 20vw 20vw 40vw 20vw 40vw 40vw 20vw;
        grid-gap: 50px;
        grid-template-areas: "ab ab" "v v" "s a" "m m" "t tr" "c ca" "l l";
    }
    .cons1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        text-shadow: 3px 3px 12px black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 10px;
        padding-right: 10px;
        border: solid black 2px;
        box-shadow: 3px 3px 7px black;
        border-radius: 3px;
        text-align: center;
    }
    .consTitle{
        /* background-image: url("../../ShrunkPix/union.jpg"); */
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        text-shadow: 3px 3px 12px black;
        padding-left: 10px;
        padding-right: 10px;
        border: solid black 2px;
        box-shadow: 3px 3px 7px black;
        border-radius: 3px;
        text-align: center;
    }
    .main_shopCars {
        grid-area: s;
        background-image: url('../../ShrunkPix/jeeps.jpg');
    }
    .main_aboutSelector {
        grid-area: a;
        background-image: url("../../ShrunkPix/Under_construction.JPG");
    }
    .main_aboutSelf {
        grid-area: ab;
        background-image: url('../../ShrunkPix/About.JPG');
        background-position-y: -100px;
    }
    .various_projects {
        grid-area: v;
        background-image: url("../../ShrunkPix/union.jpg");
    }
    .misc_small {
        grid-area: m;
        background-image: url("../../ShrunkPix/union.jpg");
    }
    .main_location {
        grid-area: l;
        background-image: url('../../ShrunkPix/location_.JPG');
    }
    .track {
        grid-area: t;
        background-image: url("../../ShrunkPix/Track.png");
    }
    .travel {
        grid-area: tr;
        background-image: url("../../ShrunkPix/Travel.png");
    }
    .clock {
        grid-area: c;
        background-image: url("../../ShrunkPix/Clock.png");
    }
    .calc {
        grid-area: ca;
        background-image: url("../../ShrunkPix/calc2.png");
    }
    .starw {
        grid-area: sw;
        background-image: url("../../ShrunkPix/starw.png");
    }
    .subProjects {
        margin: 0;
    }
    .littleTitle {
        margin-bottom: 0vh;
        margin-top: 10vh;
        font-size: 4vw;
    }
    .otherTitle {
        font-size: 4vw;
    }
    .sub {
        margin: 0;
        font-size: 2vw;
    }
}

@media(max-width: 861px) {
    /* body{
        background-image: url('../../ShrunkPix/Autumn-Wallpapers.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: repeat-y;
        background-position: center;
    } */
    .main_tag {
        margin: auto;
    }
    .webD {
        margin: auto;
    }
    .main_homeDivBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    .main_selector {
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 200px 100px 300px 300px 100px 400px 400px 400px 400px 400px 150px;
        grid-gap: 3px;
        grid-template-areas: "ab" "v" "s" "a" "m" "t" "tr" "c" "ca" "sw" "l";
    }
    .consTitle{
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        text-shadow: 3px 3px 12px black;
        background-size: 1200px 1080px;
        border-radius: 4px;
        border: black 1px solid;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: 4px 3px 13px black;
    }
    .cons1{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        text-shadow: 3px 3px 12px black;
        margin-top: 5px;
        border: solid black 2px;
        box-shadow: 3px 3px 7px black;
        border-radius: 3px;
        text-align: center;
    }
    .main_shopCars {
        grid-area: s;
        background-image: url('../../ShrunkPix/Camaro.jpg');
    }
    .main_aboutSelector {
        grid-area: a;
        background-image: url("../../ShrunkPix/Under_construction.JPG");
    }
    .main_aboutSelf {
        grid-area: ab;
        background-image: url('../../ShrunkPix/About.JPG');
        background-position-y: -150px;
        background-position-x: -600px;
    }
    .various_projects {
        grid-area: v;
        background-image: url("../../ShrunkPix/union.jpg");
    }
    .misc_small {
        grid-area: m;
        background-image: url("../../ShrunkPix/union.jpg");
    }
    .track {
        grid-area: t;
        background-image: url("../../ShrunkPix/Track.png");
    }
    .travel {
        grid-area: tr;
        background-image: url("../../ShrunkPix/Travel.png");
    }
    .clock {
        grid-area: c;
        background-image: url("../../ShrunkPix/Clock.png");
    }
    .calc {
        grid-area: ca;
        background-image: url("../../ShrunkPix/calc2.png");
    }
    .starw {
        grid-area: sw;
        background-image: url("../../ShrunkPix/starw.png");
    }
    .subProjects {
        margin: 0;
    }
    .main_location {
        grid-area: l;
        background-image: url('../../ShrunkPix/location_.JPG');
    }
    .littleTitle {
        margin-bottom: 0vh;
        font-size: 4vw;
    }
    .otherTitle {
        font-size: 4vw;
    }
    .sub {
        margin: 0;
        font-size: 2vw;
    }
}