@media(min-width: 862px) {
    .next_last {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    .next_btn {
        background-color: rgba(231, 123, 22, 0.7);
        font-size: 40px;
        border: none;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        border: solid white 2px;
        border-radius: 3px;
    }
    .next_btn:hover {
        -moz-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        -webkit-transition: transform 1.3s ease-in-out;
        -moz-transition: transform 1.3s ease-in-out;
        -ms-transition: transform 1.3s ease-in-out;
        background-color: rgba(231, 88, 22, 0.7);
        font-size: 40px;
        border: none;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        border: solid white 2px;
        border-radius: 3px;
    }
    .prev_btn {
        background-color: rgba(231, 123, 22, 0.7);
        font-size: 40px;
        border: none;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        border: solid white 2px;
        border-radius: 3px;
    }
    .prev_btn:hover {
        -moz-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        -webkit-transition: transform 1.3s ease-in-out;
        -moz-transition: transform 1.3s ease-in-out;
        -ms-transition: transform 1.3s ease-in-out;
        background-color: rgba(231, 88, 22, 0.7);
        font-size: 40px;
        border: none;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        border: solid white 2px;
        border-radius: 3px;
    }
    .levelLink {
        text-decoration: none;
        color: white;
    }
    .outerHomeDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact_shot{
        width: 100vw;
    }
    .disclaimer{
        background-color: rgba(255, 255, 255, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid black 2px;
        border-radius: 3px;
        box-shadow: 3px 3px 3px rgba(54, 53, 53, 0.7);
        margin-top: 1vh;
    }
}

@media(max-width: 861px) {
    .levelHome_parent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .next_last {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
    }
    .next_btn {
        background-color: rgba(231, 123, 22, 0.7);
        font-size: 25px;
        border: none;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        border: solid white 2px;
        border-radius: 3px;
    }
    .next_btn:hover {
        -moz-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        -webkit-transition: transform 1.3s ease-in-out;
        -moz-transition: transform 1.3s ease-in-out;
        -ms-transition: transform 1.3s ease-in-out;
        background-color: rgba(231, 88, 22, 0.7);
        font-size: 25px;
        border: none;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        border: solid white 2px;
        border-radius: 3px;
    }
    .prev_btn {
        background-color: rgba(231, 123, 22, 0.7);
        font-size: 25px;
        border: none;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        border: solid white 2px;
        border-radius: 3px;
    }
    .prev_btn:hover {
        -moz-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        -webkit-transition: transform 1.3s ease-in-out;
        -moz-transition: transform 1.3s ease-in-out;
        -ms-transition: transform 1.3s ease-in-out;
        background-color: rgba(231, 88, 22, 0.7);
        font-size: 25px;
        border: none;
        margin-left: 4vw;
        margin-right: 4vw;
        margin-top: 2vh;
        margin-bottom: 2vh;
        border: solid white 2px;
        border-radius: 3px;
    }
    .levelLink {
        text-decoration: none;
        color: white;
    }
    .contact_shot{
        width: 75vw;
    }
    .outerHomeDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .disclaimer{
        background-color: rgba(255, 255, 255, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: solid black 2px;
        border-radius: 3px;
        box-shadow: 3px 3px 3px rgba(54, 53, 53, 0.7);
        margin-top: 1vh;
        width: 70vw;
        text-decoration: none;
    }
}