body{
    /* background-image: url(https://www.planwallpaper.com/static/images/Autumn-Wallpapers-Backgrounds.jpg); */
    background-repeat: none;
    background-size: cover;
}

.global_div{
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat-y;
}