@media(min-width: 862px) {
    body {
        background-image: url('./ShrunkPix/Autumn-Wallpapers.jpg');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: repeat-y;
    }
}

@media(max-width: 861px) {
    body {
        background-image: url('./ShrunkPix/Autumn-Wallpapers.jpg');
        background-size: 861px 861px;
        /* background-size: cover; */
        background-attachment: scroll;
        background-repeat: repeat-y;
        background-position: center;
    }
}
