.starwarz_div {
    /* background-image: url(http://orig12.deviantart.net/53f9/f/2016/338/7/d/star_wars___death_star_wallpaper_by_rocklou-daqj3gl.png);
    background-repeat: none;
    background-size: cover; */

}

.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 100px;
    border: white 5px solid;
}